.headerTop {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: rgb(251, 65, 65);
    height: 70px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 80px;
    height: 50px;
    border-radius:6px; 
    margin-left: 10px;
    
}

.headerText { 
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

.images {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.allItems {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
   
}

.rightHeader {
    display: flex;
    align-items: center;
}

.rightEnd {
    margin-right: 50px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 24px; 
}

.rightEnd:hover {
    color:white;
}

.content{
    margin-top: 50px;
}

.address {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.cuisines {
    font-size: 20px;
    font-weight: 500;
}

.ratings {
    font-size: 18px;
    font-weight: 500;
}
